<h1>Companies</h1>

<table id="companies">
  <thead>
    <th>Name</th>
  </thead>
  <tbody>
    <% companies.each do |company| %>
      <tr>
        <td><%= link_to company.name, company_path(company) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
