<h1><%= company.name %></h1>

<%= link_to "Manage Lawyers", "#" %>

<h2>Company lawyers</h2>
<% company.lawyers.each do |lawyer| %>
  <ul>
    <li class="associatedLawyer"><%= lawyer.name %></li>
  </ul>
<% end %>
